packaging_format = 2

id = "pixelfed"
name = "Pixelfed"
description.en = "Decentralized photo sharing social media platform"
description.fr = "Plateforme de partage de photos décentralisée"

version = "0.12.6~ynh2"

maintainers = ["yalh76", "Lapineige"]

[upstream]
license = "AGPL-3.0-or-later"
website = "https://pixelfed.org/"
admindoc = "https://docs.pixelfed.org/running-pixelfed/administration.html"
userdoc = "https://docs.pixelfed.org/"
code = "https://github.com/pixelfed/pixelfed"
cpe = "cpe:2.3:a:pixelfed:pixelfed"
fund = "https://www.patreon.com/dansup"

[integration]
yunohost = ">= 12.0.9"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "500M"
ram.build = "1000M"
ram.runtime = "100M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.language]
    ask.en = "Choose the application language"
    ask.fr = "Choisissez la langue de l'application"
    type = "select"
    choices = ["de", "en", "es", "fr", "it", "nl", "pt"]
    default = "fr"

[resources]
        [resources.sources.main]
        url = "https://github.com/pixelfed/pixelfed/archive/db0b09679808994d22c7b7994a2597899765ba6d.tar.gz"
        sha256 = "7df2c9e6867b14724655fbcaa3e54b9455465de999cb2b1532210bd4471c678a"
        autoupdate.strategy = "latest_github_release"

    [resources.system_user]
    allow_email = true

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = "postgresql, libgd3, jpegoptim, optipng, pngquant, ffmpeg, imagemagick, php8.3-redis, php8.3-bcmath, php8.3-cli, php8.3-ctype, php8.3-curl, php8.3-exif, php8.3-gd, php8.3-iconv, php8.3-intl, php8.3-mbstring, php8.3-tokenizer, php8.3-xml, php8.3-zip, php8.3-pdo, php8.3-pgsql, php8.3-fileinfo, php8.3-imagick, redis-server"

    [resources.database]
    type = "postgresql"
