packaging_format = 2

id = "pixelfed"
name = "Pixelfed"
description.en = "Decentralized photo sharing social media platform"
description.fr = "Plateforme de partage de photos décentralisée"

version = "0.12.6~ynh3"

maintainers = ["yalh76", "Lapineige"]

[upstream]
license = "AGPL-3.0-or-later"
website = "https://pixelfed.org/"
admindoc = "https://docs.pixelfed.org/running-pixelfed/administration.html"
userdoc = "https://docs.pixelfed.org/"
code = "https://github.com/pixelfed/pixelfed"
cpe = "cpe:2.3:a:pixelfed:pixelfed"
fund = "https://www.patreon.com/dansup"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "500M"
ram.build = "1000M"
ram.runtime = "100M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.language]
    ask.en = "Choose the application language"
    ask.fr = "Choisissez la langue de l'application"
    type = "select"
    choices = ["de", "en", "es", "fr", "it", "nl", "pt"]
    default = "fr"

[resources]
        [resources.sources.main]
        url = "https://github.com/pixelfed/pixelfed/archive/9b048680280e639ba8367ef09ae550b7676355cc.tar.gz"
        sha256 = "c8b07433f992dc3cb6371f49fe2a332bf34014aecff1333d7ffa854676c9c709"
#        autoupdate.strategy = "latest_github_release"

    [resources.system_user]
    allow_email = true

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = "postgresql, libgd3, jpegoptim, optipng, pngquant, ffmpeg, imagemagick, php8.4-redis, php8.4-bcmath, php8.4-cli, php8.4-ctype, php8.4-curl, php8.4-exif, php8.4-gd, php8.4-iconv, php8.4-intl, php8.4-mbstring, php8.4-tokenizer, php8.4-xml, php8.4-zip, php8.4-pdo, php8.4-pgsql, php8.4-fileinfo, php8.4-imagick, redis-server"

    [resources.database]
    type = "postgresql"

    [resources.composer]
    version = "2.9.3"
