test_format = 1.0

[default]

    # -------------------------------
    # Commits to test upgrade from
    # -------------------------------

    test_upgrade_from.aa1c6c9.name = "Upgrade from 0.11.9"
